<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%- include('partials/head/meta') %>
    <title>Resrv | Admin</title>
    <%- include('partials/head/resource') %>
    <script src="/js/admin.js" type="module" defer></script>
  </head>
  <body>
    <%- include('partials/body/admin/sidenav') %>
    <%- include('partials/body/admin/main') %>
    <%- include('partials/body/admin/modals') %>
  </body>
</html>
