<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head/meta') %>
    <title>Admin</title>
    <%- include('partials/head/resource') %>
    <script src="/js/page-toggler.js" nonce="<%= config.NONCE %>"></script>
    <script src="/js/profile-floater.js" nonce="<%= config.NONCE %>" type="module" defer></script>
    <script src="/js/admin/script.js" nonce="<%= config.NONCE %>" defer type="module"></script>
  </head>
  <body>
    <%- include('partials/body/admin/sidebar') %>
    <div class="ml-20 md:ml-[300px]">
      <%- include('partials/body/admin/main-header') %>
      <%- include('partials/body/admin/main-content') %>
    </div>
  </body>
</html>
