<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head/meta') %>
    <title>Admin</title>
    <%- include('partials/head/resource') %>
    <script src="/js/page-toggler.js" nonce ="<%= config.NONCE %>"></script>
  </head>
  <body class="">
        <%- include('partials/body/sidebar') %>
        <%- include('partials/body/main-content')%>
  </body>
</html>
