<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head/meta') %>
    <title>PTC Reservation | Profile</title>
    <%- include('partials/head/resource') %>
  </head>
  <body>
    <div class="p-4">
      <main class="max-w-screen-md mx-auto">
        <h1 class="font-poppins mb-4 flex gap-x-2">
          <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:stroke-blue-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
          </a>
          <span class="font-bold">
            Profile
          </span>
        </h1>
        <div class="p-4 rounded-t-lg relative h-[230px]">
          <img 
            class="absolute left-0 top-0 -z-10 object-cover h-full rounded-t-lg" 
            data-lazy-src="/assets/image/login-side-banner.webp" 
            src="data:image/gif;base64,UklGRjIAAABXRUJQVlA4ICYAAABwAQCdASoBAAEAAUAmJYgCdAFAAAD++fsDXFzZEUfuj97fxyzQAA==" 
            alt="PTC front view" 
            width="4000" 
            height="2457" 
          />
          <div class="rounded-full absolute left-1/2 bottom-0 -translate-x-1/2 translate-y-[70px] p-2 bg-white shadow w-[140px] h-[140px]">
            <img 
              class="w-full h-full rounded-full"
              src="<%= user.picture %>" 
              alt="<%= user.givenName %>'s profile picture"
              width="150"
              height="150"
            />
          </div>
        </div>
        <div class="mt-[calc(75px+1rem)]">
          <div class="text-center">
            <p class="inline-block bg-gray-100 px-6 py-2 rounded-full border border-gray-200 cursor-default max-w-full overflow-hidden text-ellipsis">
              <%= user.email %>
            </p>
          </div>
          <div class="flex flex-col md:flex-row mt-4 gap-x-4">
            <div class="md:w-1/2 flex flex-col gap-y-2">
              <div class="flex flex-col gap-x-2">
                <label class="font-poppins font-bold text-sm">First name</label>
                <input class="bg-gray-200 w-full px-4 py-2 rounded" type="text" value="<%= user.givenName %>" disabled/>
              </div>
              <div class="flex flex-col gap-x-2">
                <label class="font-poppins font-bold text-sm">Last name</label>
                <input class="bg-gray-200 w-full px-4 py-2 rounded" type="text" value="<%= user.familyName %>" disabled/>
              </div>
            </div>
            <div class="md:w-1/2">
              <div class="flex flex-col gap-x-2">
                <label class="font-poppins font-bold text-sm" for="address">Address</label>
                <textarea class="bg-gray-200 w-full px-4 py-2 rounded resize-none h-[6.75rem]" type="text" name="address" id="address" placeholder=""><%= output(user?.UserBasicInfo?.address)  %></textarea>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>