<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%- include('partials/head/meta') %>
    <title>Resrv | Registry</title>
    <%- include('partials/head/resource') %>
    <script src="/js/registry.js" type="module" defer></script>
  </head>
  <body>
    <%- include('partials/body/registry/sidenav') %>
    <%- include('partials/body/registry/main') %>
    <%- include('partials/body/registry/modals') %>
  </body>
</html>
