<div class="side-bar-container w-60 inline-block h-screen border-r border-[#E1E1E1] fixed left-0 top-0">
  <div class="sidebar h-screen w-52 mx-4 inline-block">
    <div class="logo my-5 py-8">
      <%- include('logo-sidebar') %>
    </div>

    <div class="nav-buttons  flex flex-col w-50">
      <button class="sidebar btn green my-1.5 text-left" id="usersTab" data-toggle-page="Users">
        <%- include('users-icon') %> Users
      </button>

      <button class="sidebar btn green my-1.5 text-left" id="departmentsTab" data-toggle-page="Departments">
        <%- include('departments-icon') %> Departments
      </button>

      <button class="sidebar btn green my-1.5 text-left" id="rolesTab" data-toggle-page="Roles">
        <%- include('roles-icon') %> Roles
      </button>


    <script nonce="<%= config.NONCE %>">
      const buttons = document.querySelectorAll('button[data-toggle-page]')
      console.log(buttons)
        for (const button of buttons) {
          

          button.addEventListener('click', function () {
            const pageTitle = document.querySelector('#page-title')
            pageTitle.textContent = button.dataset.togglePage
          })
        }
    </script>


      <div class="button inline-block right-0 my-2">
        <a class="inline-flex gap-x-2 mt-4 btn red" id="logout-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
          </svg>
          Sign Out        
        </a>
        <script nonce="<%= config.NONCE %>">
          const logoutBtn = document.querySelector('#logout-btn')
          logoutBtn.addEventListener('click', async function () {
            try {
              const response = await fetch('/auth/logout', { method: 'POST' })
              const { ok } = await response.json()
              if (ok) location.href = '/'
            } catch (error) {
              alert(error.message)
            }
          })
        </script>
      </div>
    </div>
  </div>
</div>
