<main class="p-4 min-h-screen" id="main-container">



  <section class="" data-content="departments">
    <%- include('contents/departments')  %> 
  </section>


  <section class="hidden" data-content="users">
    <div class="flex items-center gap-x-4 justify-between">
      <%- include('../search') %> 
      <%- include('../../../filter') %> 
    </div>
    
    <%- include('contents/users') %> 

    <div class="flex justify-center">
      <%- include('../../../pagination') %> 
    </div>
  </section>


  <section class="hidden" data-content="roles" class="overflow-hidden">
    <%- include('contents/add-role-btn') %> 
  </section>

</main>