<div class="w-full h-full fixed z-50 left-0 top-0 backdrop-blur-sm bg-black/30 hidden place-items-center" id="modal-container">
  <div class="p-4 md:p-0 w-full" id="modal">
    <%- include('modal-delete-student') %>
    <%- include('modal-create-department') %>
    <%- include('modal-delete-department') %>
    <%- include('modal-edit-department') %>
    <%- include('modal-register-moderator') %>
    <%- include('modal-delete-moderator') %>
  </div>
</div>